:root {
  --color-bg: #F7F7F7;
  --color-bg-2: #F2F2F5;
  --color-primary: #625DF5;
  --color-hover-primary: #4843CC;
  --color-pressed-primary: #2C299A;
  --color-gray-100: #2A2A2A;
  --color-gray-75: #585858;
  --color-gray-55: #8C8C8E;
  --color-gray-20: #D2D2D3;
  --color-gray-10: #F4F4F4;
  --color-white: #FFFFFF;
  --color-secondary: #F1F1FE;
  --color-black: #000000;
  --color-button-green: #319F43;
  --color-button-blue: #587DBD;
  --color-button-error: #D91619;
}
