@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400&family=Unbounded:wght@400;500&display=swap');

$font-family-unbounded: 'Unbounded', sans-serif;
$font-family-redhat: 'Red Hat Text', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
