@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Unbounded:wght@400;500&display=swap');

$font-family-unbounded: 'Unbounded', sans-serif;
$font-family-manrope: 'Manrope', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
